.containerStyle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #e6e6f7;
}
.sectionStyle {
	width: 500px;
	height: 400px;
	border: 1px;
	border-color: black;
}
.title {
	text-align: center;
	margin-bottom: 20px;
}
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.formContainer {
	padding: 6px;
	background-color: white;
	height: 300px;
	width: 400px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 6px 0px 24px -4px rgba(0,0,0,0.64);
-webkit-box-shadow: 6px 0px 24px -4px rgba(0,0,0,0.64);
-moz-box-shadow: 6px 0px 24px -4px rgba(0,0,0,0.64);
}
.loggedin {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
	padding: 1rem;
}

.login-title {
	font-family: "Poppins";
	font-size: 36px;
}
