.register-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.register-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	border-radius: 10px;
	min-height: 500px;
	padding: 20px 30px;
	box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.17);
}

.register-image {
	object-fit: contain;
	max-height: 350px;
}

.register-header {
	font-family: "Laila", sans-serif;
	font-size: 36px;
}

.register-form {
	align-items: center;
	display: flex;
	flex: 0.7;
	flex-direction: column;
	margin: auto auto;
	justify-content: center;
}

.register-button {
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	border: none;
	outline: none;
	border-radius: 3px;
	display: flex;
	background-color: black;
	flex-direction: column;
	color: white;
	align-items: center;
	min-height: 36px;
	font-family: "Poppins", sans-serif;
	margin-top: 40px;
	padding: 10px 10px;
	cursor: pointer;
}

.input-field {
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	background-color: rgb(232, 240, 254);
	border: none;
	outline: none;
	margin: 10px 0px;
	border-radius: 3px;
	height: 36px;
	width: 300px;
	font-size: 18px;
}

.login-new {
	flex: 0.3;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
}

.login-new > span {
	padding: 0 10px;
	font-size: 24px;
	font-weight: 500;
	font-family: "Bona Nova";
}

.login-link {
	font-size: 20px;
	text-decoration: none;
	font-weight: 500;
	color: black;
	font-family: "Poppins";
}
