.LandingContainer{

     display: flex;
     justify-content: center;
     align-items: center;
     padding-top:100px;
     background-image: url('../sample-images/background.png');
     background-repeat: no-repeat;
     background-size: cover;
     background-position:left;
     height:100vh;
}
.Text{
    width:28%;
}
.Text h1{
    font-family: 'Merriweather';
    font-size:35px
}
.Text button{
    padding:15px;
    width:200px;
    color:white;
    font-weight: bold;
    font-size:medium;
    background: rgb(223,134,24);
background: linear-gradient(90deg, rgba(223,134,24,1) 0%, rgba(234,184,57,1) 56%, rgba(229,200,33,1) 100%);
}
.Text p{
    font-family: 'Lato';
}
.Image img{
    width:600px;
}